<form {{on "submit" this.createUserRecord}}>
  <div>
    <label for="full_name" class="form-label">Full name</label>
    <input type="text" {{on "change" this.updateNameField}} id="full_name" required class="form-control">
    <p class="text-sm mt-1 text-red-600 font-medium">{{show-form-error "full_name" errors=this.errors}}</p>
  </div>
  <div class="mt-4">
    <label for="email" class="form-label">Email address</label>
    <input type="email" {{on "change" this.updateEmailField}} id="email" required class="form-control">
    <p class="text-sm mt-1 text-red-600 font-medium">{{show-form-error "email" errors=this.errors}}</p>
  </div>
  <div class="mt-4">
    <div class="flex items-center">
      <label for="password" class="form-label">Password</label>
      <p class="text-sm text-gray-600 ml-1">(min. 6 characters)</p>
    </div>
    <input type="password" {{on "change" this.updatePasswordField}} id="password" required class="form-control">
    <p class="text-sm mt-1 text-red-600 font-medium">{{show-form-error "password" errors=this.errors}}</p>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-primary w-full">
      Create an account
    </button>
  </div>
</form>
